{% extends '::base.html.twig' %}

{% block title %}{{ track.title }} - {{ parent() }}{% endblock %}

{% block body_title %}
    {{ track.title }}
{% endblock %}

{% block body %}
    <p>By <strong><a href="{{ path('artists_show', {id: track.artist.id}) }}">{{ track.artist.name }}</a></strong></p>

    <p>Duration : {{ track.duration }} seconds</p>

    <p>
        {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                Supprimer
            </button>
        {{ form_end(delete_form) }}
    </p>
{% endblock %}