{% extends '::base.html.twig' %}

{% block title %}Playlists - {{ parent() }}{% endblock %}

{% block body_title %}
    Playlists
{% endblock %}

{% block body %}
    <ul>
        {% for playlist in playlists %}
            <li>
                <a href="{{ path('playlists_show', {id : playlist.id}) }}">{{ playlist.title }}</a>
                ({{ playlist_duration(playlist)|sec_to_min }})
            </li>
        {% endfor %}
    </ul>

    {% if is_granted('ROLE_USER') %}
        <p>
            {{ button.link_button('add', 'Add a playlist', 'playlists_new') }}
        </p>
    {% endif %}
{% endblock %}